# zsh
.config/zsh/*
!.config/zsh/conf.d/*
!.config/zsh/.zshenv
!.config/zsh/.zshrc

# raycast
.config/raycast/*

# claude code
.claude/*
!.claude/.gitkeep

# codex
.codex/*
!.codex/.gitkeep

# cursor
.cursor/*
!.cursor/.gitkeep

# vscode
.vscode/*
!.vscode/.gitkeep
